<% layout('layouts/boilerplate') %>

<body>
<h3>Listings</h3>

<% if (bulkdata && bulkdata.length) { %>
    <div class="column">
  <% for (let data of bulkdata) { %>
    <a href="/listing/<%= data._id %>" style="text-decoration: none;">
        
        <div class="card" style="width: 18rem;">
        <img src="<%=data.image.url%>" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text"><%=data.title%> <br> ₹ <%=data.price%> / night</p>
        </div>
        </div>
    </a> 
  <% } %>
<% } else { %>
  no data found
<% } %>
</body>