<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/listing" method="POST">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="description">Description:</label><br>
        <input type="text" id="description" name="description"><br>
        <label for="image">Image:</label><br>
        <input type="text" id="image" name="image"><br>
        <label for="price">Price:</label><br>
        <input type="number" id="price" name="price"><br>
        <label for="location">Location:</label><br>
        <input type="text" id="location" name="location"><br>
        <label for="country">Country:</label><br>
        <input type="text" id="country" name="country"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>